* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v115_175 {
  width: 100%;
  height: 1339px;
  background: rgba(248,246,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_238 {
  width: 100%;
  height: 318px;
  background: rgba(35,35,107,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v1_239 {
  width: 336px;
  height: 24px;
  background: url("../images/v1_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 408px;
  overflow: hidden;
}
.v105_29 {
  width: 514px;
  color: rgba(255,255,255,0.8700000047683716);
  position: absolute;
  top: 9px;
  left: 50px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_30 {
  width: 210px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 62px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_31 {
  width: 210px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 93px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_32 {
  width: 217px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 248px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_33 {
  width: 210px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 155px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_34 {
  width: 210px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 187px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_35 {
  width: 210px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 217px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_36 {
  width: 204px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 279px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_37 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 62px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_38 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 93px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_39 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 155px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_40 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 187px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_41 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 217px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_42 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 248px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_43 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 279px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_44 {
  width: 106px;
  height: 8px;
  background: rgba(237,187,48,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 50px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v105_45 {
  width: 421px;
  color: rgba(255,255,255,0.8700000047683716);
  position: absolute;
  top: 9px;
  left: 778px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_46 {
  width: 209px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 74px;
  left: 778px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_47 {
  width: 209px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 116px;
  left: 778px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_48 {
  width: 209px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 155px;
  left: 778px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_49 {
  width: 209px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 201px;
  left: 778px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_50 {
  width: 246px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 74px;
  left: 1045px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_51 {
  width: 246px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 116px;
  left: 1045px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_52 {
  width: 246px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 155px;
  left: 1045px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_53 {
  width: 246px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 198px;
  left: 1045px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v106_2 {
  width: 105px;
  height: 8px;
  background: rgba(237,187,48,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 778px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v121_2 {
  width: 204px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 124px;
  left: 44px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_3 {
  width: 245px;
  color: rgba(209,209,239,1);
  position: absolute;
  top: 124px;
  left: 343px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_2 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_3 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_4 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 692px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_5 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 564px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_6 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 608px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_7 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 651px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_8 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 759px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_9 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_10 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 564px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_11 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 608px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_12 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 651px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_13 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 697px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_14 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 764px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_15 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_16 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 825px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_17 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 900px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_19 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 969px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_20 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1032px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_21 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1086px;
  left: 785px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_23 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 836px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_24 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 969px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_25 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1032px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_26 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1086px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_29 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 907px;
  left: 1116px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_58 {
  width: 100%;
  height: 97px;
  background: rgba(35,35,107,1);
  opacity: 1;
  position: absolute;
  top: 1242px;
  left: 0px;
  overflow: hidden;
}
.v109_97 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 37px;
  left: 702px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_86 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_87 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_88 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 337px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_89 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 337px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_90 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_91 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 628px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_92 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 628px;
  left: 337px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_93 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 337px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_94 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 681px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_95 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 681px;
  left: 337px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v109_98 {
  width: 329px;
  height: 51px;
  background: url("../images/v109_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1173px;
  left: 555px;
  overflow: hidden;
}
.v109_99 {
  width: 329px;
  height: 51px;
  background: rgba(149,83,160,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v109_100 {
  width: 185px;
  color: rgba(248,246,246,1);
  position: absolute;
  top: 11px;
  left: 90px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_101 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 50px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v109_172 {
  width: 528px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 785px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v112_174 {
  width: 433px;
  height: 425px;
  background: url("../images/v112_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 748px;
  left: 50px;
  overflow: hidden;
}
.v115_179 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 29px;
  left: 63px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
